@model JobSearchPortal.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionURI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionURI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationCloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationCloseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
